body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #ff6363;
    color: white;
    padding: 1em 0;
}

header nav {
    margin-bottom: 1em;
}

header nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
    text-size-adjust:none;
    color:blueviolet;
}

.cake, .order {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.cake img, .order img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
